.footer {
font-size: 12px;
}   

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #f8f9fa; /* Optional: Add a background color to the footer */
    padding: 10px 0;
}
