{% extends "base.html" %}

{% block content %}

<div class="hero-section publications-hero">
    <div class="hero-content">
        <h1 class="hero-title">{{ _('Scientific Publications') }}</h1>
        <p class="lead">
            {{ _('Advancing melanoma understanding through applied research.') }}
        </p>
    </div>
</div>
<div class="container my-5">
    <section class="container my-5 text-center">
        <p class="section-description text-muted mx-auto">
            {{ _('The listed publications were authored or co-authored by researchers from the Department of Artificial Intelligence 
            at the University of Information Technology and Management in Rzeszów (UITM). Their research explores medical image 
            analysis—particularly of melanocytic skin lesions—covering image synthesis, feature selection, classification methods,
             and the application of rough sets and machine learning to support early and accurate diagnosis.') }}</p>
             <h2 class="section-title">{{ _('List of related publications') }}</h2>
      </section>
    <ol class="styled-publications">
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Hippe Z.S., Piątek Ł.') }}</strong><br>
                    <em>{{ _('A New Internet system of melanocytic lesions. The current status.') }}</em><br>
                    {{ _('In: Nowakowski A. (Ed.), INFOBAZY’2014 – Inspiration, Integration, Implementation.') }}<br>
                    {{ _('Centrum Informatyczne TASK, Gdańsk-Sopot, Poland, September 8–10, 2014.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł., Hippe Z.S.') }}</strong><br>
                    <em>{{ _('Synthesis of Selected Melanocytic Skin Lesion Features.') }}</em><br>
                    {{ _('Proc. of the 27th Image and Vision Computing New Zealand (IVCNZ’2012), Dunedin, New Zealand,
                    November 26–28, 2012.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Grzymała-Busse J.W., Hippe Z.S., Piątek Ł.') }}</strong><br>
                    <em>{{ _('Synthesis of Shapes in the Domain of Melanocytic Skin Lesions.') }}</em><br>
                    {{ _('Proc. of the International Conference on Applied and Theoretical Information Systems Research
                    (ATISR’2012), Taipei, Taiwan, February 10–12, 2012.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł., Pancerz K., Owsiany G.') }}</strong><br>
                    <em>{{ _('Validation of Data Categorization Using Extensions of Information Systems: Experiments on
                        Melanocytic Skin Lesion Data.') }}</em><br>
                    {{ _('In: Ganzha M., Maciaszek L., Paprzycki M. (Eds.), Proc. of the Federated Conference on
                    Computer Science and Information Systems (FedCSIS’2011), Szczecin, Poland, September 18–21, 2011,
                    pp. 147–151.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł., Hippe Z.S., Grzymała-Busse J.W.') }}</strong><br>
                    <em>{{ _('Research over algorithms of synthesis static images of melanocytic skin lesions.')
                        }}</em><br>
                    {{ _('In: Nowakowski A. (Ed.), INFOBAZY’2011 – Databases for Science, European Projects and
                    Information Society.') }}<br>
                    {{ _('Centrum Informatyczne TASK, Gdańsk, Poland, September 5–7, 2011, pp. 162–167.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Pancerz K., Piątek Ł., Wrzesień M.') }}</strong><br>
                    <em>{{ _('Validation of algorithms of synthesis medical images, using methods of constructive
                        induction and rough sets.') }}</em><br>
                    {{ _('In: Nowakowski A. (Ed.), INFOBAZY’2011 – Databases for Science, European Projects and
                    Information Society.') }}<br>
                    {{ _('Centrum Informatyczne TASK, Gdańsk, Poland, September 5–7, 2011, pp. 178–183.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł., Owsiany G.') }}</strong><br>
                    <em>{{ _('Synthesis of Static Medical Images with using Machine Learning Methods.') }}</em><br>
                    {{ _('Proc. of the 3rd International Conference on Intelligent Information and Engineering Systems
                    (INFOS’2010), Rzeszów, Krynica-Zdrój, Poland, September 20–24, 2010.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł.') }}</strong><br>
                    <em>{{ _('Research over algorithms of synthesis static biomedical images – an example of melanocytic
                        skin lesions.') }}</em><br>
                    {{ _('Ph.D. Thesis, Gdańsk Technical University, Faculty of Electronics, Telecommunications and
                    Informatics, Gdańsk, Poland, 2010.') }}<br>
                    <a href="https://orcid.org/0000-0002-6558-0435" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>


        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('W. Paja and M. Wrzesień') }}</strong><br>
                    <em>{{ _('Melanoma important features selection using random forest approach.') }}</em><br>
                    {{ _('Proc. of the 6th International Conference on Human System Interactions (HSI), Sopot, Poland,
                    2013, pp. 415–418.') }}<br>
                    <a href="https://orcid.org/0000-0002-1413-6748" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('P. Cudek, W. Paja, M. Wrzesień') }}</strong><br>
                    <em>{{ _('Image Recognition System for Diagnosis Support of Melanoma Skin Lesion.') }}</em><br>
                    {{ _('In: Security and Intelligent Information Systems, Springer-Verlag Berlin Heidelberg 2012, pp. 217-225')
                    }}<br>
                    <a href="https://orcid.org/0000-0002-1413-6748" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('W. Paja, K. Pancerz, T. Mroczek, J. Gomuła, M. Wrzesień') }}</strong><br>
                    <em>{{ _('Melanoma Diagnosis and Classification Web Center System. The Non-Invasive Diagnosis Support Subsystem.') }}</em><br>
                    {{ _('In: P. Perner (Ed.) Advances in Data Mining, Springer-Verlag Berlin Heidelberg 2011, pp. 96-105.')
                    }}<br>
                    <a href="https://orcid.org/0000-0002-1413-6748" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('P. Cudek, W. Paja, M. Wrzesień') }}</strong><br>
                    <em>{{ _('Automatic System for Classification of Melanocytic Skin Lesions Based on Images Recognition.') }}</em><br>
                    {{ _('In: Man-Machine Interactions 2, Advances in Intelligent and Soft Computing, Springer-Verlag Berlin Heidelberg 2011, pp. 189-196.')
                    }}<br>
                    <a href="https://orcid.org/0000-0002-1413-6748" target="_blank">{{ _('View on ORCID') }}</a>
                </div>
            </div>
        </li>


        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Mroczek T., Piątek Ł.') }}</strong><br>
                    <em>{{ _('Exploring Relationships in Melanocytic Data Sets.') }}</em><br>
                    {{ _('Procedia Computer Science, 2024') }}<br>
                    <a href="https://doi.org/10.1016/j.procs.2024.09.585" target="_blank">{{ _('View the article') }}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="pub-card">
                <div class="pub-meta">
                    <strong>{{ _('Piątek Ł., Mroczek T.') }}</strong><br>
                    <em>{{ _('Analysis and classification of melanocytic skin lesion images.') }}</em><br>
                    {{ _('Procedia Computer Science, 2022') }}<br>
                    <a href="https://doi.org/10.1016/J.PROCS.2022.09.249" target="_blank">{{ _('View the article') }}</a>
                </div>
            </div>
        </li>
    </ol>
</div>

{% endblock %}